.wrapper {
  margin: 1rem;
}

.headerWrapper {
  display: flex;
}

.headerWrapper h1,
.headerWrapper h2 {
  margin: 0;
}

.cancelButton {
  color: blue;
  background-color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  outline: none;
}
.saveButton {
  color: white;
  background-color: blue;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.row {
  display: flex;
  width: 50%;
}

.day,
.openOrClosed,
.startTime,
.endTime {
  width: 25%;
  margin: 1rem;
}

.openOrClosed {
  display: flex;
}

.startTimeView,
.endTimeView {
  display: inline-block;
  margin: 1rem;
}

.brandRow {
  display: flex;
  line-height: 1.25rem;
  margin-bottom: .5rem;
}

.inputLabelView {
  width: 200px;
}

.inputValueEditView{
  width : 500px
}
